<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>CrowdRiff Platform</title>
		<link href="//fonts.googleapis.com/css?family=Lato:300,400,700,700italic,400italic,300italic" rel="stylesheet" type="text/css">
		<link href="//fonts.googleapis.com/css?family=Oswald:300,400,700" rel="stylesheet" type="text/css">
		<% for (var css in htmlWebpackPlugin.files.css) { %>
		<link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
		<% } %>
	</head>
	<body>
		<% if (htmlWebpackPlugin.options.appMountId) { %>
		<div id="<%= htmlWebpackPlugin.options.appMountId%>"></div>
		<% } %>
	</body>
</html>