// +++++++++
// Colors
// +++++++++

$blue: dodgerblue;
$red: #D02026;
$light-grey: #969696;
$charcoal: #404040;
$black: #060606;
$white: #ffffff;

// +++++++++
// Fonts
// +++++++++
$roboto : 'Roboto Slab', serif;
$lato: 'Lato', sans-serif;
