header {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 10;
	background: white;
	+ .container {
		padding-top: 90px;
	}
}
.fixed-bar {
	position: fixed;
	width: 100%;
	z-index: 10;
}
.row.with-fixed-bar {
	margin-top: 30px;
}
.login-bar {
	display: flex;
	padding: 5px 15px;
	align-items: center;
}
.login-buttons {
	display: flex;
	margin-left: auto;
	align-items: center;
	.login-button {
		display: flex;
		margin-left: 8px;
		align-items: center;
	}
}

h1 {
	padding-left: 8px;
}